VITE_APPWRITE_ENDPOINT=https://api.attanjil.com/v1
VITE_APPWRITE_PROJECT_ID=6aa5f4880020ee2b7f5b
VITE_APPWRITE_PROJECT_NAME="Skillify Genius - EdTech"
VITE_APPWRITE_DATABASE_ID=6aa5fbd8001e67a857e3
VITE_APPWRITE_REGISTRATIONS_COLLECTION_ID=course_registrations
VITE_APPWRITE_LEADS_COLLECTION_ID=leads
VITE_APPWRITE_TRIALS_COLLECTION_ID=trial_bookings
VITE_SITE_URL=http://localhost:3000
